.rtnd {
    border: 2px solid red;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.normalnds {
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid black;
}

.tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
